#cabecalho{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#teatle{
    margin-top: 15px;
    margin-left: 20px;
    /* margin-left: 20%; */
    font-family: "Jockey One", serif;
    font-size: 18px;
    color: #662684;
}


.cabecalho_container_nav_menu_list_links{
    display: flex;

    margin-top: 20px;
    margin-left: 350px;
    padding-left: 60px;
    list-style: none;
    align-items: center;
    font-family: "Jockey One", serif;
    gap: 110px;
}

.cabecalho_container_menu_list_links{
    
    color: #662684;
    text-decoration: none;
    font-family: "Jockey One", serif;
    font-size: 20px;

}
